* {
  font-weight: bold;
  color: blue;
  margin: 0;
  box-sizing: border-box; }

.FL, #messages div.msg-bubble-left {
  float: left; }

.FR, #messages div.msg-bubble-right {
  float: right; }

.text-left, #messages div.msg-bubble-left {
  text-align: left; }

.text-right, #messages div.msg-bubble-right {
  text-align: right; }

.clear, #messages div.msg-bubble, #messages div.msg-bubble-left, #messages div.msg-bubble-right {
  clear: both; }

body {
  font: 13px Helvetica, Arial; }

.container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
  width: 100%; }

form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  left: 0px; }
  form input {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
    margin-right: .5%; }
  form button {
    width: 9%;
    background: #82e0ff;
    border: none;
    padding: 10px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70%; }
  #messages div {
    padding: 5px 10px;
    width: 100%; }
    #messages div.msg-bubble, #messages div.msg-bubble-left, #messages div.msg-bubble-right {
      min-height: 50px;
      padding: 20px;
      max-width: 100px;
      color: white;
      box-shadow: 1px 1px 5px #888888;
      margin-bottom: 5px; }
    #messages div.msg-bubble-left {
      background: #7DAF81;
      border-radius: 10px 10px 10px 0px; }
    #messages div.msg-bubble-right {
      background: #7DAF81;
      border-radius: 10px 10px 0px 10px; }
