*{
	font-weight: bold;
	color: blue;
	margin: 0; 
	// padding: 0;
	box-sizing: 
	border-box; 
}

.FL{
	float: left;
}

.FR{
	float: right;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.clear{
	clear: both;
}

$chat-bubble-height: 50px;
body { 
	font: 13px Helvetica, Arial; 
}


.container{
	padding-left: 20%;
	padding-right: 20%;
	height: 100%;
	width: 100%;
}
     
form { 
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    left: 0px;
	input { 
	    border: 1px solid grey; 
	    border-radius: 3px;
		padding: 10px; 
		width: 90%; 
		margin-right: .5%; 
	}
	button { 
		width: 9%; 
		background: rgb(130, 224, 255); 
		border: none; 
		padding: 10px; 
	}
}


#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	height: 70%;
	div { 
		padding: 5px 10px; 
		width: 100%;
		&.msg-bubble{
			@extend .clear;
			min-height: $chat-bubble-height;
			padding: 20px;
			max-width: 100px;
			color: white;
			box-shadow: 1px 1px 5px #888888;
			margin-bottom: 5px;
		}
		&.msg-bubble-left{
	      	@extend .msg-bubble, .FL, .text-left;
	      	background: #7DAF81;
		    border-radius: 10px 10px 10px 0px;
	    }
	    &.msg-bubble-right{
	      	@extend .msg-bubble, .FR, .text-right;
	      	background: #7DAF81;
	    	border-radius: 10px 10px 0px 10px;
      	}
	}
}
